.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:normal;
  font-size:x-large;
}

  .header{

    background-image: url('../images/Hero-bg.png');

  }


  .coder-pic{

    width: 240px;
  }  

  .banner{

    text-align: center;
  }