.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html{

  scroll-behavior: smooth;
}

/* banner styles */

  .header{

    background-image: url('../images/Hero-bg.png');
    background-position: top;
    background-size: contain;

  }

  header div h1 {

    font-weight: 800;
    font-size: 48px;


  }



  .coder-pic{

    width: 240px;
    margin-top: 26px;
  }  

  .banner{

    text-align: center;

    
  }


  .banner_content{

    
    margin-left: 221px;
    margin-right: 221px;
     
    
  }

  .contact_button{

    
    font-family: "Azeret Mono";
    font-weight: 600;
    font-size: 20px;
    background-color:black;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    margin-top: 30px;
    text-decoration: none;
    
    

  }

  /* Main Styles*/

  .title{

    font-family: "Azeret Mono";
    font-weight: 800 ;
    font-size: 32px;
    text-align: center;
  }

  .subtitle{

    font-family: "Azeret Mono";
    font-weight: 700 ;
    font-size: 24px;
  }


  .title_description{

    
    font-family: "Azeret Mono";
    font-weight:400;
    font-size: 16px;
    text-align:center;
    margin-left: 150px;
    margin-right: 150px; 
    color:  #807C7C;
  }
  .description{

    
    font-family: "Azeret Mono";
    font-weight:400;
    font-size: 16px;
    text-align:start;
    color:  #807C7C;
    
    
    
    
  }

  main{

    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;

    
  }

  

  .main_section1{

    margin-top: 96px;
    background-color: white;
    border-radius: 16px;
    padding: 48px 48px;
    display: flex;
    justify-content: space-evenly;

  }

  .text{

    max-width: 480px;

  }
  
  /*Button styles*/
  .learn_more{

    font-family: "Azeret Mono";
    font-weight: 600;
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 32px;
    background-color: white;
    color:lightslategrey;
    

  }

  .learn_more2{

    font-family: "Azeret Mono";
    font-weight: 600;
    font-size: 16px;
    color: black;

  }


  /*Button styles*/

.shadow{

  background-color: rgba(0,0,0,0.03);
  border-radius: 16px;
  padding: 80px 97px;

}
  

  .main_section2{

     margin-top: 200px; 


  }

  .container{

    margin: 80px;
    margin-bottom: 170px;
    padding: 10px 10px ;
    border-radius: 16px;

  }

  .html{

    background-color: #FDEDCF;
    padding: 40px;
    border-radius: 16px;
    max-width: 280px;
  }

  .css{

    background-color: #D4EFFC;
    padding: 40px;
    border-radius: 16px;
    max-width: 280px;

  }

  .java{

    background-color: #FEFBDE ;
    padding: 40px;
    border-radius: 16px;
    max-width: 280px;

  }

  .current_targets{
    display: flex;
    justify-content: space-between;
  }

  
  .main_section3{

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/handshake.jpg);
    background-position: center;
    color: white;
    max-width: 1440px;
    padding: 64px 48px;
    margin-top: 64px;
    border-radius: 16px;
    

    
  }

  

  .white_description{

    font-family: "Azeret Mono";
    font-weight: 200;
    font-size: 16px;
    text-align:center;
    margin-left: 150px;
    margin-right: 150px; 
    color: white;

  }

  .input{


    width: 548px;
    height: 57px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Azeret Mono";
    padding-left: 20px;
    margin-top: 24px;
    margin-left: 170px;
    

  }

  .submit{

    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 57px;
    border-radius: 8px;
   

  }


.footer_container{
 
  display:flex ;
  justify-content: space-between;
  
  padding: 20px 150px;
  margin-top: 65px;
  background-color: rgba(0,0,0,0.03);


  }

.icons{

  padding-top: 15px;

}








